<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :text %>
		<%= f.text_area :text %>
	</div>

	<label>画像ファイルを指定:<%= f.file_field :picture_file, size: 50, multiple: true %></label><br>

	<% if type == 'new' %>
		
		<%= f.hidden_field :map_id, value: @mapid %>
	<% else %>
			<% @comment.pictures.each do |picture| %>
				<%= image_tag "/docs/#{ picture.id }", width: 200 %>
			<% end -%>
			<br>
	<% end -%>

	<div class="field">
		<%= f.submit %>
	</div>
<% end -%>