<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.label :title, class: 'control-label' %>
		<%= f.text_field :title, id: :comment_form_title, class: 'form-control' %>
	</div>

	<div class="field">
		<%= f.label :text, class: 'control-label' %>
		<%= f.text_area :text, id: :comment_form_text, class: 'form-control'  %>
	</div>

	<label class="control-label">画像ファイルを指定:<%= f.file_field :picture_file, class: 'form-control', size: 50, multiple: true %></label><br>

	<% if type == 'new' %>
		
		<%= f.hidden_field :map_id, value: @mapid %>
	<% else %>
		<% if Rails.env == 'production' %>
			<% @comment.pictures.each do |picture| %>
				<%= image_tag "http://s3-ap-northeast-1.amazonaws.com/gatsunoko.loburd.com/images/#{picture.id}min"+File.extname("#{ picture.picture_name }").downcase %>
			<% end -%>
		<% else %>
			<% @comment.pictures.each do |picture| %>
				<%= image_tag "/docs/#{ picture.id }min"+File.extname("#{ picture.picture_name }").downcase %>
			<% end -%>
		<% end -%>
	<% end -%>


	<script type="text/javascript">
	$(function(){
	$('#star_rank').raty({
	  half     : false,
	  size     : 24,
	  score    : '<%= @comment.star_rank_score %>',
	  starHalf : '<%= asset_path('star-half.png') %>',
	  starOff  : '<%= asset_path('star-off.png') %>',
	  starOn   : '<%= asset_path('star-on.png') %>',
	  target    : '#hint',
	  targetType: 'number',
	  targetKeep: true,
	click: function(score, evt) {
	  $("#star_rank_score").val(score);
	}
	});
	});
	</script>
	<div id="star_rank"></div><div id="hint"></div>
	<%= f.hidden_field :star_rank_score, id: :star_rank_score %>

	<div class="field">
		<%= f.submit %>
	</div>
<% end -%>