<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :text %>
		<%= f.text_area :text %>
	</div>

	<% if type == 'new' %>
		<%= f.fields_for :picture, @comment.pictures, html: { multipart: true } do |sf| %>
			<label>画像ファイルを指定:<%= sf.file_field :picture_file, size: 50 %></label><br>
			<label>画像ファイルを指定:<%= sf.file_field :picture_file2, size: 50 %></label>
		<% end -%>

		<%= f.hidden_field :map_id, value: @mapid %>
	<% else %>
			<% @comment.pictures.each do |picture| %>
				<%= image_tag "/docs/#{ picture.picture_name }", width: 200 %>
			<% end -%>
			<br>
			<%= f.fields_for :picture, @comment.pictures, html: { multipart: true } do |sf| %>
				<label>画像ファイルを指定:<%= sf.file_field :picture_file, size: 50 %></label><br>
				<label>画像ファイルを指定:<%= sf.file_field :picture_file2, size: 50 %></label>
			<% end -%>
	<% end -%>

	<div class="field">
		<%= f.submit %>
	</div>
<% end -%>