<h1>新規コメント作成</h1>

<%= form_tag({ action: :upload_process }, multipart: true) do %>
	<label>画像ファイルを指定:
		<%= file_field_tag :picture_name, size: 50 %></label>
	<%= submit_tag '画像をアップロード' %>
<% end -%>

<%= form_for(@comment) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :text %>
		<%= f.text_area :text %>
	</div>

	<%= f.hidden_field :map_id, value: @mapid %>

	<div class="field">
		<%= f.submit %>
	</div>
<% end -%>