<h1>Comments#show</h1>

<%= link_to 'スポットページへ戻る', map_path(@comment.map_id) %>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>text:</strong>
  <%= @comment.text %>
</p>

<% @comment.pictures.each do |picture| %>
	<%= image_tag "/docs/#{ picture.id }", width: 200 %>
<% end -%>

<br>
<% unless current_user.nil? %>
	<% if @comment.user_id == current_user.id %>
		<%= link_to '編集する', edit_comment_path(@comment) %>
		<%= link_to '削除する', comment_path(@comment), method: :delete, data: { confirm: '削除してもいいですか？' } %>
	<% end -%>
<% end -%>