<h1>Comments#show</h1>

<% unless @up_result.nil? %>
	<% @up_result.each do |key,value| %>
		<p><%= key %>: <%= value %></p>
	<% end -%>
<% end -%>

<%= link_to 'スポットページへ戻る', map_path(@comment.map_id) %>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>text:</strong>
  <%= @comment.text %>
</p>

<% if Rails.env == 'production' %>
	<% @comment.pictures.each do |picture| %>
		<%= image_tag "http://s3-ap-northeast-1.amazonaws.com/gatsunoko.loburd.com/images/#{picture.id}", width: 200 %>
	<% end -%>
<% else %>
	<% @comment.pictures.each do |picture| %>
		<%= image_tag "/docs/#{ picture.id }", width: 200 %>
	<% end -%>
<% end -%>

<br>
<% unless @comment.star_rank_score.nil? %>
	<% 5.times do |i| %>
		<% if @comment.star_rank_score >= i+1  %>
			<%= image_tag 'star-on.png' %>
		<% else %>
			<%= image_tag 'star-off.png' %>
		<% end -%>
	<% end -%>
<% end -%>

<br>
<% unless current_user.nil? %>
	<% if @comment.user_id == current_user.id %>
		<%= link_to '編集する', edit_comment_path(@comment) %>
		<%= link_to '削除する', comment_path(@comment), method: :delete, data: { confirm: '削除してもいいですか？' } %>
	<% end -%>
<% end -%>