<%= form_for(map) do |f| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= map.errors.count %> 個のエラーがあります</h2>
      <ul>
        <% map.errors.messages.each do |message| %>
          <li><%= message[1][0] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="field">
    <%= f.fields_for :tags do |sf| %>
      <%= sf.label :tag_name %>
      <%= sf.text_field :tag_name %>
      <%= sf.hidden_field :tag_master, value: true %>
      <%= sf.check_box :_destroy %>
      <%= sf.label :_destroy,"削除" %><br>
    <% end -%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
