<% @hash.each do |dista| %>
  <div class="listShow">
    <%= link_to '', map_path(dista[:map_id]), :target=>["_blank"], class: :map_index_listLink %>
    <p class="listLink_text"><%= dista[:title] %></p>
    <div class="listStar">
      <% unless dista[:rank_av].nil? %>
        <% 5.times do |i| %><%# 評価に応じて星を表示する %>
          <% if dista[:rank_av] >= i+1 %>
            <%= image_tag 'star-on.png' %>
          <% elsif dista[:rank_av] > i && dista[:rank_av] < i+1 %>
            <%= image_tag 'star-half.png' %>
          <% else %>
            <%= image_tag 'star-off.png' %>
          <% end -%>
        <% end -%>
      <% else %><%# 空の場合は空の星を5個表示%>
        <% 5.times do |i| %>
          <%= image_tag 'star-off.png' %>
        <% end -%>
      <% end -%>
    </div>
  </div>
<% end -%>