<p id="notice"><%#= notice %></p>
<% unless @map.user_id.nil? %>
  <%= @map.user.username %>くんが登録した
<% end -%>
<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<% unless current_user.nil? %>
  <% if @map.user_id == current_user.id %>
    <%= link_to 'Edit', edit_map_path(@map) %> |
  <% end -%>
<% end -%>
<br>
<div style='width: 800px;'>
  <div id="map" style='width :400px; height: 400px;'></div>
</div>

<%= render 'gmap_display' %>

<script>
var map = <%= raw @map.to_json %>
var markers = <%= raw @hash.to_json %>
var options = {
  draggable: false
}
gmap(markers, map, options)
</script>

<%= link_to 'トップへ', maps_path %>

<% @comments.each do |comment| %>
	<p><%#= comment.map_id %></p>
	<p><strong><%= comment.user.username %></strong>さんのコメント</p>

  <p><%= link_to comment.title, comment_path(comment) %></p>
  <p><%= comment.text %></p>

<%
=begin
%>
  <% comment.pictures.each do |picture| %>
    <%= image_tag "/docs/" + picture.picture_name, width: 200 %>
  <% end -%>
  <br>
<%
=end
%>
  <% unless current_user.nil? %>
    <% if comment.user_id == current_user.id %>
      <%= link_to '編集する', edit_comment_path(comment) %>
      <%= link_to '削除する', comment_path(comment), method: :delete, data: { confirm: '削除してもいいですか？' } %>
    <% end -%>
  <% end -%>

	<hr>
<% end -%>

<%= link_to 'コメントを書く', new_comment_path %>