<p id="notice"><%#= notice %></p>
<% unless @map.user_id.nil? %>
  <%= @map.user.username %>くんが登録した
<% end -%>
<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
<br>
<div style='width: 800px;'>
  <div id="map" style='width :400px; height: 400px;'></div>
</div>

<%= render 'gmap_display' %>

<script>
var map = <%= raw @map.to_json %>
var markers = <%= raw @hash.to_json %>
var options = {
  draggable: false
}
gmap(markers, map, options)
</script>

<%= link_to 'トップへ', maps_path %>

<% @comments.each do |comment| %>
	<p><strong><%= comment.user.username %></strong>さんのコメント</p>
	<p><%= comment.title %></p>
	<p><%= comment.text %></p>
	<hr>
<% end -%>

<%= form_for :comment, url: comments_path(@comment), method: :post do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :textt %>
		<%= f.text_area :text %>
	</div>

	<%= f.hidden_field :map_id, value: @map.id %>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end -%>