<div id="map_show_body" class="col-sm-8">

<p id="notice"><%#= notice %></p>
<% unless @map.user_id.nil? %>
  <strong><%= @map.user.username %></strong>さんが登録した場所
<% end -%>
<p>
  <strong>スポット名:</strong>
  <%= @map.title %>
</p>

<div id="map_show_listStar">
  <% unless @map.rank_av.nil? %>
    <% 5.times do |i| %><%# 評価に応じて星を表示する %>
      <% if @map.rank_av >= i+1 %>
        <%= image_tag 'star-on.png' %>
      <% elsif @map.rank_av > i && @map.rank_av < i+1 %>
        <%= image_tag 'star-half.png' %>
      <% else %>
        <%= image_tag 'star-off.png' %>
      <% end -%>
    <% end -%>
  <% else %><%# 空の場合は空の星を5個表示%>
    <% 5.times do |i| %>
      <%= image_tag 'star-off.png' %>
    <% end -%>
  <% end -%>
  <h4><%= @map.rank_av.to_f.round(2) %></h4>
</div>

<% unless @map.comments.nil? %>
  <div id="map_show_comments">
    <% @map.comments.each do |comment| %>
      <%= link_to(comment_path(comment)) do %>
        <div class="map_show_comment">
          <strong><%= comment.user.username %></strong>さんのコメント
          <% unless comment.star_rank_score.nil? %>
            <% 5.times do |i| %>
              <% if comment.star_rank_score >= i+1  %>
                <%= image_tag 'star-on.png' %>
              <% else %>
                <%= image_tag 'star-off.png' %>
              <% end -%>
            <% end -%>
          <% end -%>
          
          <br>
          <p class="map_comment_title"><%= comment.title %></p>
          <p class="map_comment_text"><%= truncate(comment.text, length: 100) %></p>

          <% copicCount = 0 %>
          <% if Rails.env == 'production' %>
            <div class="row">
              <% comment.pictures.each do |picture| %>
                <%= image_tag("http://s3-ap-northeast-1.amazonaws.com/gatsunoko.loburd.com/images/#{picture.id}min"+File.extname("#{ picture.picture_name }").downcase,
                    :class => 'map_show_comments_pic col-xs-6 col-sm-4') %>
                <% copicCount += 1 %>
                <% break if copicCount > 4  %>
              <% end -%>
            </div>
          <% else %>
            <div class="row">
              <% comment.pictures.each do |picture| %>
                <%= image_tag("/docs/#{ picture.id }min"+File.extname("#{ picture.picture_name }").downcase,
                    :class => 'map_show_comments_pic col-xs-6 col-sm-4') %>
                <% copicCount += 1 %>
                <% break if copicCount > 4  %>
              <% end -%>
            </div>
          <% end -%>
        </div><%# map_show_comment %>
        <% end -%>
    <% end -%>
  </div>
<% end -%>

<p>
  <strong>住所:</strong>
  <%= @map.address %>
</p>

<% unless current_user.nil? %>
  <% if @map.user_id == current_user.id %>
    <%= link_to 'Edit', edit_map_path(@map) %> |
  <% end -%>
<% end -%>
<br>
<div style='width: 100%;'>
  <div id="map" style='width :100%; height: 400px;'></div>
</div>

<%= render 'gmap_display' %>

<script>
var map = <%= raw @map.to_json %>
var markers = <%= raw @hash.to_json %>
var options = {
  draggable: false
}
gmap(markers, map, options)
</script>

<%= link_to 'コメントを書く', new_comment_path %>

<% unless current_user.nil? %>
  <% if current_user.user_level > 1 && @map.user_id == current_user.id %>
    <br><br>
    <%= link_to 'この場所を削除する', map_path(@map), method: :delete, data: { confirm: '削除してもいいですか？' } %>
  <% end -%>
<% end -%>

</div><%#map_show_body%>
<div class="col-sm-4" style="border: 1px solid blue;">
  sidebar
</div>