<p id="notice"><%#= notice %></p>
<% unless @map.user_id.nil? %>
  <%= @map.user.username %>くんが登録した
<% end -%>
<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<%= link_to 'トップへ', maps_path %>

<% unless current_user.nil? %>
  <% if @map.user_id == current_user.id %>
    <%= link_to 'Edit', edit_map_path(@map) %> |
  <% end -%>
<% end -%>
<br>
<div style='width: 800px;'>
  <div id="map" style='width :400px; height: 400px;'></div>
</div>

<%= render 'gmap_display' %>

<script>
var map = <%= raw @map.to_json %>
var markers = <%= raw @hash.to_json %>
var options = {
  draggable: false
}
gmap(markers, map, options)
</script>

<% unless @map.comments.nil? %>
  <% @map.comments.each do |comment| %>
    <div class="comment">
      <%= link_to '', comment_path(comment), class: :comment_link %>
    	<strong><%= comment.user.username %></strong>さんのコメント

      <% unless comment.star_rank_score.nil? %>
        <% 5.times do |i| %>
          <% if comment.star_rank_score >= i+1  %>
            <%= image_tag 'star-on.png' %>
          <% else %>
            <%= image_tag 'star-off.png' %>
          <% end -%>
        <% end -%>
      <% end -%>

      <p><%= comment.title %></p>
      <p><%= comment.text %></p>
    </div><%# comment %>
  <% end -%>
<% end -%>

<%= link_to 'コメントを書く', new_comment_path %>