<!DOCTYPE html>
<html>
  <head>
    <title>LoBurd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <% if Rails.env == 'production' %>
      <script src="//maps.googleapis.com/maps/api/js?key=<%= ENV["PRODUCTION_MAP_KEY"] %>" type="text/javascript"></script>
    <% else %>
      <script src="//maps.googleapis.com/maps/api/js?key=<%= ENV["DEVELOPMENT_MAP_KEY"] %>" type="text/javascript"></script>
    <% end -%>
    <script src="https://cdn.rawgit.com/googlemaps/js-marker-clusterer/gh-pages/src/markerclusterer.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
          <% if user_signed_in? %> 
            <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
            <!-- *_path はUserモデルを作成したときに、
              deviseにより自動で作成されてますので、rake routesで確認できます -->
            Logged in as <strong><%= current_user.username %></strong>.
            <%= link_to 'プロフィール変更', edit_user_registration_path %> |
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "サインイン", new_user_registration_path %> |
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
        </nav>
      </header>
<!--         <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> -->
      <%= yield %>
    </div>
  </body>
</html>
